.intro-header {
    margin: 0 auto;
    font-size: 36px;
    font-weight: 400;
    padding: 5rem;
    border-bottom: 1px solid #eeeeee;
}
.intro-body {
    font-size: 1rem;
    line-height: 28px;
    font-weight: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px solid #eeeeee;
    color: #807b7b;
}
