.team-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 100px;
}
.team-photo {
    width: 20vw;
    height: 45vh;
    background-color: #f4f4f4;
}
.team-container-contact {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 100px;
}
.team-photo-contact {
    width: 18vw;
    margin-right: 10px;
    height: 150px;
    background-color: #f4f4f4;
}
.team-name {
    text-align: center;
}
.team-name p:first-child {
    text-transform: capitalize;
    font-size: 20px;
}
.team-name p:last-child {
    color: #807b7b;
}
