@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Styles */
html {
    width: 100%;
    height: auto;
    font-family: "Montserrat" !important;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
}
.navbar-container > div {
    padding: 0 1.5rem;
}
.navbar-logo {
    width: 108px;
}
.navbar-logo:hover {
    opacity: 0.8;
    transition: opacity 200ms ease;
    cursor: pointer;
}
.nav-item-list {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 12px;
    line-height:20px;
    font-weight: 500;
    letter-spacing: 1px;
    gap: 2.5rem;
}
.nav-item-list li a {
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.6;
    color: #000;
}
.nav-item-list li a:hover {
    color: #55565c;
}
.nav-item-list li a.active {
    opacity: 1;
    color: #000000;
    font-weight: 600;
}
.navbar-actions {
    height: 44px;
    letter-spacing: 2px;
}
.primary-button {
    background-color: #000;
    color: #fff;
    padding: 12px 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 12px;
    font-family: "Montserrat"
}
.primary-button:hover {
    background-color: #44464a;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.banner-container {
    width: 95vw;
    margin: 0 auto;
    background-color: #000;
    min-height: 36vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
}
.banner-text {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2px;
}
.container {
    width: 70vw;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.footer {
    width: 95vw;
    margin: 0 auto;
    background-color: #f4f4f4;
    display: flex;
    padding: 100px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer p:first-child {
    font-size: 30px;
    margin: 0;
}
.footer p:nth-of-type(2) {
    font-size: 20px;
    text-align: center;
    color: #807b7b;
    margin-bottom: 3rem;
    line-height: 35px;
}
.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 12vh;
}
.credits > p:hover {
    cursor: pointer;
    color: #000;
}
.credits > p {
    color: #76767a;
    font-size: 0.8rem;
}
.services-container {
    margin: 0 0 5rem 0;
}
.services-header {
    text-align: center;
    padding: 80px 0;
}
.services-header p {
    margin: 0;
}
.services-header p:first-child {
    text-transform: uppercase;
    color: #55565c;
    margin-bottom: 0.9rem;
    font-size: 0.8rem;
}
.services-header p:last-child {
    font-size: 36px;
}
.services-sections {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
}
.services-sections > section > p {
    line-height: 28px;
}
.services-sections > section > p:nth-last-of-type(2) {
    text-transform: capitalize;
    font-size: 20px;
}
.services-sections > section > p:last-child {
    color: #807b7b;
}
.services-sections img {
    width: 41px;
}
.intro-header {
    margin: 0 auto;
    font-size: 36px;
    font-weight: 400;
    padding: 5rem;
    border-bottom: 1px solid #eeeeee;
}
.intro-body {
    font-size: 1rem;
    line-height: 28px;
    font-weight: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px solid #eeeeee;
    color: #807b7b;
}
.blog-container {
    width: 70vw;
    margin: 0 auto;
}
.blog-image {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}
.blog-image:hover {
    animation-name: faded;
    animation-duration: 0.8s;
    opacity: 0.6;
}
.blog-summary {
    width: 50vw;
    margin: 50px auto 80px auto;
}
.blog-description {
    text-align: justify;
}
.blog-description p {
    margin: 0;
}
.blog-description p:nth-child(1) {
    font-size: 30px;
    margin-bottom: 20px;
}
.blog-description p:nth-child(1):hover {
    color: #55565c;
    cursor: pointer;
}
.blog-description p:nth-child(2) {
    font-size: 16px;
    word-spacing: 0;
    line-height: 28px;
    opacity: 0.5;
    margin-bottom: 20px;
}
.blog-description p:nth-child(3) {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.7;
    text-transform: uppercase;
}
.contact-page-container {
    width: 70vw;
    margin: 0 auto;
}
.contact-grid {
    display: grid;
    align-items: start;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.contact-container {
    padding: 45px 60px 50px 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
    margin-right: 40px;
}
.address-form {
    margin-left: 40px;
}
.contact-summary {
    text-align: justify;
    margin-bottom: 40px;
}
.contact-summary p:first-child {
    margin-bottom: 15px;
    font-size: 36px;
}
.contact-summary p:last-child {
    opacity: 0.6;
    font-size: 16px;
    line-height: 28px;
}
.contact-form {
    margin: 0;
}
.label-text {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.input-field {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    border: 1px solid #e4e4e4;
    height: 40px;
    font-family: inherit;
    font-size: 14px;
    box-sizing: border-box;
    padding: 21px 20px;
}
.message-field {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 12px 20px 21px 20px;
    border: 1px solid #e4e4e4;
    font-family: inherit;
    font-size: 14px;
    height: 200px;
    box-sizing: border-box;
}
.input-field:focus {
    transition: border-color 400ms ease;
    border-color: #000;
}
.message-field:focus {
    transition: border-color 400ms ease;
    border-color: #000;
}
.submit-button {
    width: 100%;
    background-color: #1a1b1f;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 50px;
}
.address-wrap {
    margin-bottom: 30px;
}
.address-header {
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500;
}
.address-paragraph {
    opacity: 0.5;
    font-size: 16px;
    line-height: 28px;
    color: #1a1b1f;
    font-weight: 400;
}
.email-link {
    text-decoration: underline;
    transition: opacity 200ms ease;
    color: #1a1b1f;
}
.email-link:hover {
    transition: opacity 200ms ease;
    opacity: 1;
    color: #000000;
}
.map {
    display: flex;
    align-items: center;
    margin: 100px auto 20px auto;
    justify-content: center;
    width: 97%;
}
.contact-divider {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 1px;
    background-color: #eeeeee;
}
.contact-paragraph {
    text-align: center;
    opacity: 0.5;
    font-size: 16px;
    line-height: 28px;
    color: #1a1b1f;
    font-weight: 400;
}
.team-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 100px;
}
.team-photo {
    width: 20vw;
    height: 45vh;
    background-color: #f4f4f4;
}
.team-container-contact {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 100px;
}
.team-photo-contact {
    width: 18vw;
    margin-right: 10px;
    height: 150px;
    background-color: #f4f4f4;
}
.team-name {
    text-align: center;
}
.team-name p:first-child {
    text-transform: capitalize;
    font-size: 20px;
}
.team-name p:last-child {
    color: #807b7b;
}
.work-flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}
.work-paragraph-light {
    opacity: 0.6;
    text-align: center;
    margin-bottom: 60px;
}
.work-link {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #000;
}
.work-link:hover {
    color: #55565c;
}
.work-header2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.6;
}
.work-heading {
    text-align: center;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    opacity: 2;
}
.work-img {
    object-fit: cover;
    width: 95%;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.image-container:hover {
    animation-name: faded;
    animation-duration: 0.8s;
    opacity: 0.6;
}
.project-header {
    background-origin: border-box;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 620px;
}
.project-img1 {
    background-image: url(https://assets.website-files.com/5c6eb5400253230156de2bd6/5cdc030dd7274dd880c516ca_portfolio%201%20-%20wide.svg);
}
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template-areas: 
    "."
    ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 80%;
    max-width: 1140px;
    margin: 100px auto;
    padding: 10px;
    line-height: 28px;
}
.border-box {
    box-sizing: border-box;
    margin-bottom: 30px;
}
.item4 {
    grid-row-start: span 2;
}
.project-label {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.project-light {
    opacity: 0.6;
}
.project-pics {
    margin-bottom: 120px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
.project-pics > img {
    width: 100%;
    margin-bottom: 30px;
    object-fit: cover;
}
.project-banner-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 80px;
    text-transform: none;
}

@keyframes faded {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}
#nav-icon {
    color: #000;
}
#main-content {
    transition: margin-top 0.3s ease;
}
@media (min-width: 320px), (width < 320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .nav-item-list,
    .navbar-actions {
        display: none;
    }
    .navbar-container {
        margin-top: 0;
        padding: 12px 20px 20px 10px;
    }
    .navbar-container > div {
        padding: 0;
    }
    .nav-item-list.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 99;
        row-gap: 18px;
        padding: 0px;
    }
    #main-content.active {
        margin-top: 230px;
    }
    .team-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team-photo {
        width: 90vw;
    }
    .blog-container {
        width: 95vw;
        margin: 0 auto;
    }
    .blog-summary {
        box-sizing: border-box;
        text-align: center;
        width: 100%;
        margin: 45px auto 80px auto;
    }
    .blog-description {
        text-align: center;
    }
    .blog-description p:nth-child(1) {
        font-size: 31px;
        margin-bottom: 10px;
    }
    .blog-description p:nth-child(2) {
        font-size: 16px;
        word-spacing: 0;
        opacity: 0.6;
        margin-bottom: 20px;
    }
    .blog-description p:nth-child(3) {
        font-size: 12px;
        font-weight: 500;
        opacity: 0.6;
        margin-top: 20px;
    }
    .banner-container {
        height: 480px;
    }
    .banner-text {
        font-size: 50px;
        font-weight: 400;
    }
    .work-img {
        object-fit: cover;
        width: 95%;
    }
    .contact-page-container {
        width: 95vw;
        margin: 0 auto;
    }
    .contact-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .contact-container {
        padding: 30px;
        border-style: solid;
        border-width: 1px;
        border-color: #eeeeee;
        margin-right: 0px;
    }
    .address-form {
        margin-left: 0px;
        text-align: center;
    }
    .contact-summary {
        text-align: center;
        margin-bottom: 40px;
        font-weight: 400;
    }
    .team-container-contact, .services-sections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
    }
    .team-photo-contact {
        width: 90vw;
        margin-right: 0px;
    }
    .project-label {    
        text-align: center;
    }
    .project-light {
        text-align: center;
    }
    .project-banner-text {
        font-size: 36px;
        line-height: 48px; 
        direction:rtl;       
    }
    .services-sections {

    }
}
@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .team-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .team-photo {
        width: 40vw;
        height: 30vh;
    }
    .blog-container {
        width: 90vw;
        margin: 0 auto;
    }
    .contact-page-container {
        width: 80vw;
        margin: 0 auto;
    }
}
@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .team-photo {
        width: 40vw;
    }
    .blog-container {
        width: 80vw;
        margin: 0 auto;
    }
    .blog-description {
        text-align: justify;
    }
    .navbar-container {
        margin-top: 10px;
        padding: 15px 20px 20px 10px;
    }
}
@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .nav-item-list,
    .navbar-actions {
        display: flex;
    }
    #nav-icon {
        display: none;
    }
    .blog-container {
        width: 100%;
    }
    .blog-summary {
        width: 50vw;
        margin: 50px auto 80px auto;
    }
    .contact-page-container {
        width: 70vw;
        margin: 0 auto;
    }
    .navbar-container {
        padding: 25px 20px;
        margin-top: 0px;
    }
    .navbar-container > div {
        padding: 0 1.5rem;
    }
}
@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    .team-container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
    }
    .team-photo {
        width: 20vw;
        height: 30vh;
    }
    .blog-container {
        width: 70vw;
        margin: 0 auto;
    }
    .contact-grid {
        display: grid;
        align-items: start;
        grid-template-columns: 2.5fr 1fr;
        grid-template-rows: auto;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .contact-container {
        padding: 45px 60px 50px 60px;
        border-style: solid;
        border-width: 1px;
        border-color: #eeeeee;
        margin-right: 40px;
    }
    .address-form {
        margin-left: 40px;
        text-align: justify;
    }
    .contact-summary {
        text-align: justify;
    }
    .team-container-contact, .services-sections {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin-bottom: 100px;
    }
    .team-photo-contact {
        width: 18vw;
        margin-right: 10px;
        height: 150px;
        background-color: #f4f4f4;
    }
    .address-paragraph {
        display: block;
        box-sizing: border-box;
        opacity: 0.5;
        font-size: 16px;
        line-height: 28px;
        text-justify: inter-word;
    }
    .grid-container {
        grid-template-areas:"..";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        width: 80%;
    }
    .project-label {
        text-align: left;
    }
    .project-light {
        text-align: left;
    }
}
@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    .work-flex-container {
        width: 100%;
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }
    .blog-container {
        width: 100%;
        max-width: 1140px;
    }
}