@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    width: 100%;
    height: auto;
    font-family: 'Montserrat' !important;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar-container > div {
    padding: 0 1.5rem;
}
.navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #313339;
    text-decoration: underline;
}
.navbar-logo p:hover {
    color: #55565c;
    cursor: pointer;
}
.nav-item-list {
    width: 100%;
    display:flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}
.nav-item-list li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.nav-item-list li a:hover {
    color: #55565c;
}
.nav-item-list li a.active {
    font-weight: 700;
}
.primary-button {
    background-color: #000;
    color: #FFF;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: 400;
    letter-spacing: 0.1rem;
}
.primary-button:hover {
    background-color: #44464a;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.banner-container {
    width: 95vw;
    margin: 0 auto;
    background-color: #000;
    min-height: 36vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
}
.banner-text {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 2px;
}
.container {
    width: 70vw;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
.intro-header {
    margin: 0 auto;
    font-size: 36px;
    font-weight: 400;
    padding: 5rem;
    border-bottom: 1px solid #EEEEEE;
}
.intro-body {
    font-size: 1rem;
    line-height: 28px;
    font-weight: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px solid #EEEEEE;
    color: #807b7b;
}
.services-container {
    margin: 0 0 5rem 0;
}
.services-header {
    text-align: center;
    padding: 80px 0;
}
.services-header p {
    margin: 0;
}
.services-header p:first-child {
    text-transform: uppercase;
    color: #55565c;
    margin-bottom: 0.9rem;
    font-size: 0.8rem;
}
.services-header p:last-child {
    font-size: 36px;
}
.services-sections {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
}
.services-sections > section > p{
    line-height: 28px;
}
.services-sections > section > p:nth-last-of-type(2){
    text-transform: capitalize;
    font-size: 20px;
}
.services-sections > section > p:last-child{
    color: #807b7b;
}
.services-sections img {
    width: 41px;
}
.footer {
    width: 95vw;
    margin: 0 auto;
    background-color: #F4F4F4;
    display: flex;
    padding: 100px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer p:first-child {
    font-size: 30px;
    margin: 0;
}
.footer p:nth-of-type(2) {
    font-size: 20px;
    text-align: center;
    color: #807b7b;
    margin-bottom: 3rem;
    line-height: 35px;
}
.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 12vh;
}
.credits > p:hover {
    cursor: pointer;
    color: #000;
}
.credits > p {
    color: #76767a;
    font-size: 0.8rem;
}
.work-banner-text {
    font-size: 56px;
    line-height: 70px;
}
.work-flex-container {
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;   
    margin-bottom: 60px; 
}
.work-paragraph-light {
    opacity: 0.6;
    text-align: center;
    margin-bottom: 60px;
}
.work-link {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #000;
}
.work-link:hover {
    color: #55565c;
}
.work-header2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.6;
}
h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    opacity: 2;
}
.team-projects {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}   
.work-img {
    object-fit: cover;
    width: 80%;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.image-container:hover {
    animation-name: faded;
    animation-duration: 0.8s;
    opacity: 0.6;
}
@keyframes faded{
    from {opacity: 1;}
    to {opacity: 0.6;}
}
.team-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 100px;
}
.team-photo {
    width: 20vw;
    height: 45vh;
    background-color: #F4F4F4;
}
.team-name {
    text-align: center;
}
.team-name p:first-child {
    text-transform: capitalize;
    font-size: 20px;
}
.team-name p:last-child {
    color: #807b7b;
}